<% @posts.each do |post| %>
  <div class="light post">
    <div class="page-header">
      <h1>
        <%= link_to post.title, post %>
        <small class="pull-right"><%= post.created_at.strftime("%B %d, %Y") %></small>
      </h1>
    </div>

    <div>
      <%= format_body post.body %>
    </div>
  </div>
<% end %>
