<div class="post light">
  <div class="page-header">
    <h1>
      <%= @post.title %>
      <small class="pull-right"><%= @post.created_at.strftime("%B %d, %Y") %></small>
    </h1>
  </div>

  <div class="body">
    <%= format_body @post.body %>
  </div>
</div>
